<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout_admin.html}">

    <section class="row" layout:fragment="content">
		<h2 th:text="${category.isEdit ? 'Edit Category' : 'Add New Category'}"></h2>

		<form th:action="@{/admin/categories/Insert}" method="post">
		    <input type="hidden" th:value="${category.isEdit}" name="isEdit">
		    <input type="hidden" th:value="${category.categoryId}" name="categoryId"> 

		    <input type="text" name="name" th:value="${category.name}" placeholder="Category Name">
		    <input type="text" name="images" th:value="${category.images}" placeholder="Images URL">
		    <input type="text" name="status" th:value="${category.status}" placeholder="Status">
		    
		    <div th:if="${category.isEdit}">
		        <input type="submit" value="Update">
		    </div>
		    <div th:if="${!category.isEdit}">
		        <input type="submit" value="Insert">
		    </div>
		</form>
    </section>
</html>
